:root {
  --clr-base: #c2f0d7;
  --clr-accent-1: #ffff00;
  --clr-accent-2: #add8e6;
  --clr-accent-3: #8b4513;
  --clr-accent-4: #2e8b57;
  --clr-accent-5: #bdb76b;
  --clr-highlight-1: #ff7f00;
  --clr-highlight-2: #ffc0cb;
  --clr-highlight-3: #32cd32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--clr-base);
  background-size: cover;
}

/* Variables */
.button {
  --btn-bg: #fff1d2;
  --btn-inner: #a3703a;
  --btn-middle: #b47b41;
  --btn-outer: #6d4b27;

  background: var(--btn-bg);
  border: 1px solid var(--btn-outer);
  outline: 1px solid var(--btn-middle);
  box-shadow: 0 0 0 3px var(--btn-outer);
}

#tooltip {
  position: fixed;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1000;
  max-width: 200px;
  word-wrap: break-word;
}

/* Style gauche */
.left-side {
  height: 100%;
  width: 30vw;
  min-width: 280px;
  background-color: var(--clr-accent-3);
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.statBar {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  background: linear-gradient(
    0deg,
    transparent,
    var(--clr-accent-1),
    var(--clr-accent-1),
    var(--clr-accent-1),
    var(--clr-accent-1)
  );
}

.statBar p {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  background: linear-gradient(
    to left,
    transparent,
    var(--clr-accent-2),
    transparent
  );
  color: var(--clr-accent-4);
  padding: 12px 0;
}

.statBar h1,
#score {
  margin: 4px 0 0 0;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  color: var(--clr-highlight-1);
  font-weight: 800;
  text-shadow: 0 2px 5px #fff;
}
#per-second {
  font-family: "Arial", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  color: var(--clr-highlight-3);
  text-shadow: 0 0 10px #fff;
}

#click-button {
  --btn-size: 20rem;
  cursor: pointer;
  margin-top: 20px;
  /* background-color: transparent; */
  height: var(--btn-size);
  width: var(--btn-size);
  align-self: center;
  background: url("../images/click.png") center no-repeat;
  background-size: contain;
  border: none;
  transition: 100ms ease;
}
#click-button:active {
  width: 21rem;
}

/* style droite */
.right-side {
  width: 280px;
  height: 100%;
  background-color: var(--clr-accent-3);
  display: flex;
  flex-direction: column;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.3);
}
.navWindow {
  margin-top: 2vh;
  display: flex;
  height: 8vh;
}

.navWindow button {
  cursor: pointer;
  border: none;
  font-weight: 800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s;
}
.activeWindow {
  background: var(--clr-highlight-1);
  color: #151515;
  width: 120%;
}
.unactiveWindow {
  width: 80%;
  background: var(--clr-accent-3);
  color: #aaa;
}

.upgrades {
  display: none;
}

.upgrades.active {
  display: block;
}

#click-upgrades-container,
#auto-upgrades-container {
  margin-top: 1rem;
  align-self: center;
}

/* ventes des CPC */
.upgrade-button {
  min-width: 90%;
  max-width: 90%;
  height: 7vw;
  min-height: 3rem;
  max-height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;

  font-family: "Poppins";
  font-size: 1.1em;
  margin-top: 5px;
  color: var(--clr-accent-3);

  &:hover {
    filter: brightness(0.9);
  }

  & div {
    text-align: left;
    & h3 {
      text-wrap: nowrap;
      font-size: 1.2em;
    }
    & p {
      font-size: 0.8em;
    }
  }

  & img {
    width: 6vw;
    max-width: 3rem;
    min-width: 2rem;
    background: var(--clr-accent-2);
    border-radius: 10%;
  }
}

/* style centrale */
.center-side {
  flex: 1;
  background-color: transparent;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  & img {
    --size: 30vw;
    width: var(--size);
    height: var(--size);
  }
}

.save-buttons {
  position: absolute;
  bottom: 1rem;

  & button {
    --btn-size: 0.5rem;
    padding: var(--btn-size) calc(var(--btn-size) * 1.75);
    margin: var(--btn-size);

    &:hover,
    &:focus {
      cursor: pointer;
      filter: brightness(0.8);
    }
  }
}
